/* ———————————main content styles——————————— */

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.projects {
  width: 100vw;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-content: baseline;
}

.index-project {
    border: 0px solid var(--yellow);
  position: relative;
  container-type: inline-size;
  display: flex;
  justify-content: center;
}

.project-image {
  width: 100%;
}

@media (hover: hover) {
  .index-titles {
    opacity: 0;
    transition: opacity 0.2s;
  }

  .project-image {
    filter: blur(7px);
    transition: filter 0.3s;
  }
  .index-project:hover {
    border: 1px solid var(--yellow);
  }

  .index-project:hover .index-titles,
  .index-project:focus-visible .index-titles {
    opacity: 1;
  }

  .index-project:hover .project-image,
  .index-project:focus-visible .project-image {
    filter: blur(0);
  }
}

/* ———————————small screens———————————— */
@media (max-width:600px) {
  .projects {
    grid-template-columns: 1fr;
  }
}