/* ———————————main content styles——————————— */

main {
  width: 100vw;
}

.projects {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-content: baseline;
}

.index-project {
  position: relative;
  container-type: inline-size;
  display: flex;
  justify-content: center;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline-color 0.2s;
}

.project-image {
  width: 100%;
}

@media (hover: hover) {
  .index-titles {
    opacity: 0;
    transition: opacity 0.2s;
  }

  /* .project-image {
    filter: blur(7px);
  } */
  .index-project:hover,
  .index-project:focus-visible {
  outline-color: var(--yellow);   
  }

  .index-project:hover .index-titles,
  .index-project:focus-visible .index-titles {
    opacity: 1;
  }
}

/* ———————————small screens———————————— */
@media (max-width:600px) {
  .projects {
    grid-template-columns: 1fr;
  }
}