.header {
  position: relative;
  display: block;
  width: 100vw;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--yellow);
  background: var(--black);
}

.project-header-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}


/* ——————————small screen styles——————————— */
@media (max-width: 600px) {
  .header {
    border-width: 3px;
  }

  .project-header-image {
    aspect-ratio: 4 / 3;   /* Bild wird höher, Seiten werden abgeschnitten */
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

